USE [hospital]
GO
/****** Object:  Table [dbo].[appointments]    Script Date: 6/14/2017 8:55:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NULL,
	[patient_id] [int] NULL,
	[doctor_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[doctors]    Script Date: 6/14/2017 8:55:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[username] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[specialty] [varchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[doctors_patients]    Script Date: 6/14/2017 8:55:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctors_patients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[patient_id] [int] NULL,
	[doctor_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[patients]    Script Date: 6/14/2017 8:55:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[username] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[dob] [datetime] NULL
) ON [PRIMARY]

GO
